<div style="{{wrap}}">
  <div style="{{card}}">
    <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 16px;">
  <!-- Chef Hat -->
  <path d="M12 32C12 26 16 22 22 22C22 18 26 14 32 14C38 14 42 18 42 22C48 22 52 26 52 32C52 38 48 42 42 42H14C8 42 4 38 4 32C4 28 8 24 12 24V32Z" fill="#111"/>
  <!-- Hat pleats -->
  <line x1="20" y1="22" x2="20" y2="42" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
  <line x1="28" y1="18" x2="28" y2="42" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
  <line x1="36" y1="22" x2="36" y2="42" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
</svg>
<img src="https://images.pexels.com/photos/5685/restaurant-table-sugar-kitchen.jpg" alt="">
    <h1 style="{{h1}}">Welcome, {{name}}</h1>
    <p style="{{p}}">{{message}}</p>
    <a href="{{link}}" style="{{a}}">{{buttonText}}</a>
  </div>
</div>